@import "custom/styles";
#content {
margin-right: 0px;
}
body>header h2{
  color: #369;
  font-size: 18px !important;
  font-style: italic;
  margin-top: -10px;
}
body>header h1 a{
  font-size: 48px !important;
  font-family: garton !important;
}
/*.main-navigation li a{
  font-size: 14px;
}*/

div.each-word{
  width: 45%;
  min-height: 100px;
  padding: 10px 2px 22px 10px;
  float: left;
  margin: 0 2px 2px 0;
  background-color: rgb(235, 238, 229);
}
div#main-content{
  min-height: 1000px;
  width: 100%;
  background-color: white;
}
span.word{
	font-weight: bold;
	font-size: 20px;
}
span.usage-label{
	font-style: italic;
	font-size: 14px;
}
div.usage{
	width: 65px;
	float: left;
	height: 31px;
}
div.each-usage{
	float: left;
	width: 308px;
	font-size: 15px;
	font-family: serif;
}

