@import "custom/styles";
#content {
margin-right: 0px;
}
body>header h2{
  color: #369;
  font-size: 18px !important;
  font-style: italic;
  margin-top: -10px;
}
body>header h1 a{
  font-size: 48px !important;
  font-family: garton !important;
}
/*.main-navigation li a{
  font-size: 14px;
}*/


